# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
# Productions
/build/*

# Not wanted
package-lock.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
